<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<h2>Enter Your Email Address</h2>

<form method="post" id="forgotPasswordForm">
    {% csrf_token %}
    <input type="email" name="email" id="email" placeholder="Enter your email" required>
    <br><br>
    
    <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
    <br>
    <button type="submit" id="submitBtn">Send Rest Link</button>
</form>

{% if msg %}
    <p style="color:green">{{msg}}</p>
{% endif %}

{% if error %}
    <p style="color:red">{{error}}</p>
{% endif %}